body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial,
    sans-serif;
  background-image: url("images/cardpic.jpg");
  background-size: cover;
  font-weight: bold;
  color: white;
  text-align: center;
}

.card {
  background-color: black;
  margin: 1em;
  box-shadow: 20px 10.98256px 7.4564px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.5);
}

h1 {
  padding-top: 20px;
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

button {
  color: #016f32;
  width: 150px;
  background: goldenrod;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  margin-bottom: 20px;
  margin-top: 2px;
}
